.plus{
    height: 41px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50px;
    background-color: rgb(236, 112, 11);
    display:flex;
    align-items: center;
    justify-content: center;
}