.Post{
    border: 0.2em solid #1e1e2b;
    margin: 0.5em;
    padding:1.5em;
    background-color: #827397;
    white-space: nowrap;
    overflow-x: auto;
}

.UpDownCounter{
    
    display: inline-block;
    margin-right: 0.2em 0.2em;
}
h3.PostTitle{
    display: inline-block;
    margin-left: 0.2em;
}
button{
    background: transparent;
    border: none;
}