body {
  margin: 0;
  font-family: 'Fira Sans', 'Oxygen','Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #D8B9C3;
  font-size: large;
  background-color: #363062;
  
}
h1{
  text-align: center;
}
.Post{
  border: 0.2em solid #1e1e2b;
  margin: 0.5em;
  padding:1.5em;
  background-color: #827397;
}

